{% block modules %}




    <div class="site-section bg-light block-13">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="font-weight-bold text-black">Featured Guests</h2>
            </div>
        </div>



        <div class="nonloop-block-13 owl-carousel">
            {% block guest %}
                {%  for g in page.children %}
                    {{ g.content }}
                {% endfor %}
            {% endblock %}

        </div>
    </div>
</div>

{{ page.content }}


{% endblock %}