{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="site-block-top bg-secondary">
</div>
    <div class="site-block-def">

        <div class="container">
            <div class="row">
                <div class="col-md-10">

                    <h3 class="title-clr">{{ page.title }}</h3>
<br>
                    {{ page.content }}

                </div>
            </div>

        </div>

</div>


{% endblock %}





